# Development Mode
VITE_DEV_MODE='true' # Production

# API config localhost
VITE_API_URL_DEVELOPMENT='http://localhost:3000'

# API config Production
VITE_API_URL_PRODUCTION='https://smart-app-fjy3ka.fly.dev'

VITE_URL_PRODUCTION='https://smartfolioai.netlify.app'