# Development Mode
VITE_DEV_MODE='true' # Production

# API config localhost
VITE_API_URL_DEVELOPMENT='http://localhost:3000'

# API config Production
VITE_API_URL_PRODUCTION='https://trakker-app-2102607397.us-east-1.elb.amazonaws.com'

VITE_URL_PRODUCTION='https://trakkerwallet.com.br'