# App mode
VITE_DEV_MODE='true'

# API
VITE_API_URL_DEVELOPMENT='http://localhost:3000'
VITE_API_URL_PRODUCTION='https://api.example.com'

# Stripe
VITE_STRIPE_PUBLIC_API_KEY='pk_test_example'
VITE_STRIPE_PRIVATE_API_KEY='sk_test_example'
VITE_SUCCESS_URL='http://localhost:8080/subscription/success'
VITE_CANCEL_URL='http://localhost:8080/subscription/cancelled'

# Frontend URLs
VITE_URL_LOCALHOST='http://localhost:8080'
VITE_URL_WEB='https://trakkerwallet.com.br'

# Auth
VITE_GOOGLE_CLIENT_ID=''
